@model OrderEntry.Models.LineViewModel

@{
    ViewBag.Title = "AddLine";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="addLineForm">
            @using (Html.BeginForm("AddLine", "Order", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Order: xxxxxx-xx</h3>
                @Html.ActionLink("Tender", "Tender", "Order", routeValues: null, htmlAttributes: new { id = "tenderOrderLink", @class = "btn btn-default" })
                <h4>Enter Line information.</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Product, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Product, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Product)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.QtyOrd, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.QtyOrd, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.QtyOrd)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Price)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}