@model OrderEntry.Models.Tender

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tender</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenderAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenderAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
