@model IEnumerable<OrderEntry.Models.Tender>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenderType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenderAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenderType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenderAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TenderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TenderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TenderID })
        </td>
    </tr>
}

</table>
