@model IEnumerable<OrderEntry.Models.Tendering.Check>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CheckID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CheckID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CheckID })
        </td>
    </tr>
}

</table>
