@model OrderEntry.Models.ShipTo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShipTo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShipToNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipToNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipToName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipToName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShipToID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
